
.grid-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    justify-content: center; */
    margin: 0 auto;                                        /* arriba y abjo en 0 y derecha e izquierda en auto para central */
        
}
.grid-item{
    border-radius: 5%;
    cursor: zoom-in;
    width: 230px;
    margin-bottom: 40px;
    background-color: lightgray;                         /* para cuando se esten cargando las imagenes parezca un placeholder */
 /*    height: 200px;
    object-fit: cover;  */                                 /* recorta la imagen pa encajarla en el alto y anhco establecido sin q pierda las proporciones */
}

.grid-item:hover{
    opacity: 0.9;
    transform: scale(1.01);
}